name: Unit Testing

on:
  push:
    branches: [ dev2 ]


jobs:
  test_push_request:
    runs-on: ubuntu-latest
    steps:
      - name: Run Test Case
        uses: actions/checkout@v2
        with:
          # Full git history is needed to get a proper
          # list of changed files within `super-linter`
          fetch-depth: 0
      - uses: actions/setup-node@v1
        id: unitTest
        with:
          node-version: 16.19.0
      - run: npm ci
      - run: npm test
      - name: Make Request to JIRA
        id: myRequest
        uses: fjogeleit/http-request-action@v1
        with:
          url: ${{ secrets.JIRA_URL }}
          method: 'POST'
          username: ${{ secrets.JIRA_USERNAME }}
          password: ${{ secrets.JIRA_PAT }}
          data: '{"fields": {"project": {"id": 10000 },"summary": "Creating rest api  github action 17.",  "description": "Creating of an issue using project keys and issue type names using the REST API","issuetype": {"name": "Bug"}}}'
      - name: Show Response
        run: |
         echo ${{ fromJson(steps.myRequest.outputs.response).id }}
     
    
     
        


       
        
